/* Reset some default styles to ensure consistency */
body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 30px;
}

section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

section p {
    margin-bottom: 10px;
}

/* Style the profile image in the Home section */
#home img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

/* Add more specific styles as needed for your portfolio sections */
/* For example, you can add custom styles for the resume link, education details, skills, projects, and contact information sections */

/* Example: Styling the resume link */
#resume a {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

/* Example: Styling the contact information section */
#contact p {
    font-size: 18px;
    font-weight: bold;
}

#contact p:first-child {
    margin-bottom: 10px;
}
